.header {
	/* position the element in the center top of the screen */
	position: absolute;
	top: 10px;
	transform: translate(-50%, 0%);
	left: 50%;

	padding: 0;
}

.header .link {
	color: #FFF;
	vertical-align: middle;
	padding: 13px;
}

.header .logo {
	margin-right: 35px;
	width: 350px;
}

.header .link:hover {
	text-decoration: none;
	color: rgb(255, 145, 0);
	animation-name: headerLinkAction;
	animation-duration: 0.1s;
}

/* changes header colors when you hover over hotlinks */
@keyframes headerLinkAction {
	from {
		color: #FFF;
	}
	to {
		color: rgb(255, 145, 0);
	}
}